.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.result__victory-img {
  position: absolute;
  width: 100%;
  max-width: 862px;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 180%;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    width: 51%;
  }

  > .result__victory-img-part {
    position: absolute;
    z-index: 5;
    height: auto;
    width: auto;

    &--flamingo {
      width: 37%;
      left: 16%;
      bottom: 17%;
      z-index: 5;
    }

    &--suitcase {
      width: 51%;
      left: 19%;
      // bottom: 16%;
      z-index: 4;
    }

    &--leaf-green {
      right: 7%;
      bottom: 25%;
      width: 42%;
      z-index: 3;
    }

    &--leaf-blue-1 {
      right: 10%;
      bottom: 27%;
      width: 42%;
      z-index: 2;
    }

    &--leaf-blue-2 {
      left: 0;
      bottom: 16%;
      width: 42%;
      z-index: 2;
    }
  }

  .screen--result.screen--show & {
    > .result__victory-img-part {
      &--flamingo {
        animation: flamingo-fadeup 0.5s ease-out,
          flamingo-flight 2s ease-in-out 0.5s infinite;
      }

      &--suitcase {
        bottom: -20%;
        animation: case-scale-up 0.7s ease-out forwards;
      }

      &--leaf-blue-1 {
        opacity: 0;
        transform-origin: 0 50%;
        animation: leaf-right-swing 2s ease-in-out 0.4s forwards;
      }

      &--leaf-blue-2 {
        opacity: 0;
        transform-origin: 100% 50%;
        animation: leaf-left-swing 2.2s ease-in-out 0.4s forwards;
      }

      &--leaf-green {
        opacity: 0;
        transform-origin: 0 50%;
        animation: leaf-right-swing 2s ease-in-out 0.5s forwards;
      }
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;

  .form__button {
    color: transparent;
    animation: nameFadeIn 0.3s 0.9s forwards;

    &:before {
      opacity: 0;
      animation: fadeIn 0.4s 0.7s forwards;
    }
  }

  .form__field {
    opacity: 0;
    width: 0;
    animation: growInWidthResult 0.4s 0.9s forwards;

    @media (max-width: $tablet) and (orientation: portrait) {
      animation-name: growInWidthResultMobile;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      animation-name: growInWidthResultLandscape;
    }

    &::placeholder {
      color: transparent;
      transition: color 0.3s;
      transition-delay: 1.2s;
    }

    .screen--result.screen--show & {
      &::placeholder {
        color: #747575;
      }
    }
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes flamingo-flight {
  0% {
    transform: rotate(0) translateY(0);
  }

  50% {
    transform: rotate(5deg) translateY(3%);
  }

  50% {
    transform: rotate(-3deg) translateY(8%);
  }

  100% {
    transform: rotate(0) translateY(0);
  }
}

@keyframes flamingo-fadeup {
  0% {
    transform: rotate(-30deg) translate3d(-30%, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: rotate(0) translate3d(0);
    opacity: 1;
  }
}

@keyframes case-scale-up {
  0% {
    transform: scale(0);
    bottom: -20%;
  }

  70% {
    transform: scale(1);
    bottom: 18%;
  }

  100% {
    transform: scale(1);
    bottom: 16%;
  }
}

@keyframes leaf-right-swing {
  0% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  17% {
    opacity: 1;
    transform: rotate(15deg);
  }

  34% {
    transform: rotate(-6deg);
  }

  51% {
    transform: rotate(3deg);
  }

  68% {
    transform: rotate(-4deg);
  }

  85% {
    transform: rotate(2deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes leaf-left-swing {
  0% {
    opacity: 0;
    transform: rotate(20deg);
  }

  17% {
    opacity: 1;
    transform: rotate(-15deg);
  }

  34% {
    transform: rotate(6deg);
  }

  51% {
    transform: rotate(-3deg);
  }

  68% {
    transform: rotate(4deg);
  }

  85% {
    transform: rotate(-2deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes growInWidthResult {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: calc(100% - 31rem);
    opacity: 1;
  }
}

@keyframes growInWidthResultMobile {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: calc(100% - 5rem);
    opacity: 1;
  }
}

@keyframes growInWidthResultLandscape {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: calc(9rem + 2rem);
    opacity: 1;
  }
}
