.animated-text {
  > span {
    padding-top: 2rem;
    margin-top: -2rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    > span {
      display: inline-block;
      transform: translateY(120%);
      transition-property: transform;
      transition-timing-function: $t-long-ease-out;

      .dom-loaded .screen.active & {
        transform: translateY(0);
      }
    }
  }
}
